venv/
__pycache__/
instance/

git init
git add .
git commit -m "Diagnostic asked by patient and answeered by doctor"
git branch -M master
git remote add origin https://github.com/Takkino31/cardio-app.git
git push -u origin master