venv/
__pycache__/
instance/

git init
git add .
git commit -m "Edited a diagnostic already send to patient done"
git branch -M master
git remote add origin https://github.com/Takkino31/cardio-app.git
git push -u origin master